<footer class="gbl-foot">
  <div class="gbl-foot-inner grid">
    <ul class="gbl-foot-links">
      <li><a href="tel:+442033273940">+44 (0) 20 3327 3940</a></li>
      <li><a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a></li>
      <li><a href="http://pebblecode.com/contact">Find us</a></li>
      <li><a href="http://pebblecode.com/careers">Join us</a></li>
    </ul>
    <ul class="gbl-foot-social">
      <li><a href="https://github.com/pebblecode" class="github" target="_blank">Github</a></li>
      <li><a href="https://twitter.com/pebblecode" class="twitter" target="_blank">Twitter</a></li>
      <li><a href="https://vimeo.com/pebblecode" class="vimeo" target="_blank">Vimeo</a></li>
    </ul>
    <span class="gbl-foot-tagline">Delivering Awesome!</span>
  </div>
</footer>