<header class="gbl-head show top pink-bg">
  <div class="gbl-head-inner grid">
    <a href="/" class="gbl-head-logo">pebble {code}</a>
    <button id="navBtn" class="gbl-head-btn">Menu</button>
    <nav id="navMenu" class="gbl-head-nav">
      <a href="about.html" class="gbl-head-nav-item">About</a>
      <a href="work.html" class="gbl-head-nav-item">Work</a>
      <a href="careers.html" class="gbl-head-nav-item">Careers</a>
      <a href="contact.html" class="gbl-head-nav-item">Contact</a>
      <a href="blog.html" class="gbl-head-nav-item">Blog</a>
    </nav>
  </div>
</header>
