//===============================================================================
// COLOUR THEMES
//===============================================================================
.white-bg { background-color: white; }
.white-text { color: white; }

.grey-bg { background-color: $grey; }
.grey-text { color: $grey; }

.pink-bg { background-color: $pink; }
.pink-text { color: $pink; }

.purple-bg { background-color: $purple; }
.purple-text { color: $purple; }

.blue-bg { background-color: $blue; }
.blue-text { color: $blue; }

.aqua-bg { background-color: $aqua; }
.aqua-text { color: $aqua; }

.green-bg { background-color: $green; }
.green-text { color: $green; }

.orange-bg { background-color: $orange; }
.orange-text { color: $orange; }
