.btn, button {
  -webkit-font-smoothing: subpixel-antialiased;
  background: none;
  -webkit-appearance: none;
  transition: 0.2s;
  line-height: 1;
  color: $ink;
  position: relative;
  padding: 10px 12px 7px 15px;
  border: 2px solid rgba($ink, 0.2);
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $zeta - 2px;

  &:hover {
    color: $primary;
    border-color: lighten($primary, 30);
  }

  &:focus { outline: none; }
}

.btn-arrow {
  padding-right: 22px;

  &::after {
    @include pseudo;
    @include sprite($arrowr-ink);
    top: 50%;
    right: 7px;
    transform: translateY(-55%) scale(0.8);
    transition: opacity 0.2s;
    opacity: 0.5;
  }

  &:hover::after {
    @include sprite($arrowr-pink);
    opacity: 1;
  }
}

.btn-light {
  color: rgba(white, 0.9);
  border-color: rgba(white, 0.2);

  &::after {
    @include sprite($arrowr-white);
  }

  &:hover {
    color: white;
    border-color: rgba(white, 0.6);

    &::after {
      @include sprite($arrowr-white);
    }
  }
}

.btn-lrg {
  padding: 15px 30px 13px;
  font-size: $zeta;

  &.btn-arrow {
    padding-right: 37px;

    &::after {
      transform: translateY(-54%);
      right: 12px;
    }
  }
}

.btn-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.btn-block {
  border: none;
  box-shadow: 0 2px 4px rgba(black, 0.2);
}

.btn-play {
  @include hide-text;
  box-shadow: 0 4px 6px rgba(black, 0.2);
  color: transparent;
  width: 80px;
  height: 80px;

  @media screen and ( max-width: $medium ) {
    width: 65px;
    height: 65px;
  }

  &::after {
    @include pseudo;
    @include sprite($vimeo-pink);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: transparent;
    transform: scale(1.1);
  }
}
