.clients-block {
  padding-top: 50px;
  padding-left: $gutter * 4;
  padding-right: $gutter * 4;

  @media screen and ( max-width: $large ) {
    padding-left: 0;
    padding-right: 0;
  }

  &.slash.block {
    padding-bottom: 15px;
  }
}

.clients {
  @include clearfix;
  position: relative;
  padding: 0 $gutter;

  .bybox-logo {
    margin-left: 25px;
  }

  @media screen and ( max-width: $large ) {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .client {
      float: none;
      display: inline-block;
      width: 200px;
    }

    .vfs-logo {
      width: 230px;
    }
  }
}

.client {
  height: 110px;
  position: relative;

  .client-logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}

.client-logo {
  &.az-logo { @include sprite($az-logo); }
  &.pearson-logo { @include sprite($pearson-logo); }
  &.bede-logo { @include sprite($bede-logo); }
  &.cancer-logo { @include sprite($cancer-logo); }
  &.aljazeera-logo { @include sprite($aljazeera-logo); }
  &.lloyds-logo { @include sprite($lloyds-logo); }
  &.bybox-logo { @include sprite($bybox-logo); }
  &.express-logo { @include sprite($express-logo); }
  &.vfs-logo { @include sprite($vfs-logo); }
}
