//===============================================================================
// CLIENTS
//===============================================================================
.clients-block {
  padding-left: $gutter * 4;
  padding-right: $gutter * 4;

  @media screen and ( max-width: $large ) {
    padding-left: 0;
    padding-right: 0;
  }

  &.slash.block {
    padding-bottom: 15px;
  }
}

.clients {
  @include clearfix;
  position: relative;
  padding: 0 $gutter;

  .bybox-logo {
    left: 25px;
  }

  @media screen and ( max-width: $large ) {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .client {
      float: none;
      display: inline-block;
      width: 200px;
    }

    .vfs-logo {
      width: 230px;
    }
  }
}

.client {
  height: 110px;
  position: relative;
}

.client-logo {
  @include hide-text;
  overflow: visible;

  &::after {
    @include pseudo;
    top: 0;
  }

  &.az-logo::after { @include sprite($az-logo); }
  &.pearson-logo::after { @include sprite($pearson-logo); }
  &.bede-logo::after { @include sprite($bede-logo); }
  &.cancer-logo::after { @include sprite($cancer-logo); }
  &.aljazeera-logo::after { @include sprite($aljazeera-logo); }
  &.lloyds-logo::after { @include sprite($lloyds-logo); }
  &.bybox-logo::after { @include sprite($bybox-logo); }
  &.express-logo::after { @include sprite($express-logo); }
  &.vfs-logo::after { @include sprite($vfs-logo); }
}
